---
---
### Bases de datos con Python
---
#### EJEMPLO: El módulo `sqlite3`

Crear una base de datos SQLite3 llamada `productos.sqlite3` que contenga la tabla `Producto` con los campos `id`, `nombre`, `cantidad` y `precio` desde Python.

La instrucción en SQL para crear la tabla es la siguiente:

```sql

```

In [1]:
# escribe tu código aquí

In [22]:
import sqlite3

nombd = "productos.sqlite3"
conn = sqlite3.connect(nombd)
cur = conn.cursor()
sql = "DROP TABLE IF EXISTS Producto;"
cur.execute(sql)

In [24]:
sql = """
CREATE TABLE Producto (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre VARCHAR(40),
    cantidad INT,
    precio DOUBLE
);"""
cur.execute(sql)

In [25]:
sql = """INSERT INTO Producto VALUES (
    null,
    'Camisa',
    2,
    450.00
)"""
cur.execute(sql)
conn.commit()

In [16]:
sql = "DELETE FROM Producto WHERE id=2"
cur.execute(sql)
conn.commit()

In [17]:
conn.close()